{% extends "base.html" %}

{% load static %}

{% block stylesheet %}
        <link rel="stylesheet" href="{% static 'find_friends/css/add_friend.css' %}">
{% endblock  %}

{% block header_settings %}
    <header>   
        {% include '_header_settings.html' %}
    </header>
{% endblock  %}

{% block friends %}
    <div class="add_users height">
        {% if friend_requests %}
            <div class="friend-requests">
                <h5 class="friend-request-header">Friend Requests</h5>
                {% for friend in friend_requests %}
                    <div class="users">
                        <div class="user">
                            <img src="{{friend.from_user.userprofile.get_image}}" class="display-picture" alt="display-picture">
                            <span>{{friend.from_user.username}}</span>
                        </div> 
                        <div class="add-remove">
                            <form action="" method="post">
                                {% csrf_token %}
                                <button>
                                    <i class="fas fa-user-plus"></i>
                                    Accept
                                </button>
                                <i class="fa fa-times" id="remove-user" aria-hidden="true"></i>
                            </form> 
                        </div>       
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <div class="send-requests">
            <h5 class="send-request-header">Add Friends</h5>
            {% for user in random_users %}
                <div class="users">
                    <div class="user">
                        <img src="{{user.userprofile.get_image}}" class="display-picture" alt="display-picture">
                        <span>{{user.username}}</span>
                    </div> 
                    <div class="add-remove">
                        {% if user in recipients %}
                            <form action="{% url 'find_friends:send_or_cancel_request' user.id %}">
                                {% csrf_token %}
                                <button name="cancel-request">
                                    <i class="fas fa-user-check"></i>
                                    {% comment %} <i class="fas fa-user-times"></i> {% endcomment %}
                                    Added
                                </button>
                                <i class="fa fa-times" id="remove-user" aria-hidden="true"></i>
                            </form>
                        {% else %}
                            <form action="{% url 'find_friends:send_or_cancel_request' user.id %}" method="post">
                                {% csrf_token %}
                                <button name="send-request">
                                    <i class="fas fa-user-plus"></i>
                                    {% comment %} <i class="fas fa-user-check"></i> {% endcomment %}
                                    Add friend
                                </button>
                                <i class="fa fa-times" id="remove-user" aria-hidden="true"></i>
                            </form>
                        {% endif %} 
                    </div>       
                </div>
            {% endfor %}
        </div>      
    </div>
{% endblock  %}