{% extends 'base.html' %} 
{% load static %}

{% block stylesheet %}
        <link rel="stylesheet" href="{% static 'find_friends/css/add_friend.css' %}">
{% endblock  %}

{% block content %}
    <div class="content-body">
        <div class="row g-0">
            <div class="col-md-4">
                {% include '_header_settings.html' %}
                {% block add_friends %}  {% endblock  %} 
                {% block friends %}
                
                {% endblock  %}             
            </div>
            <div class="col-md-8">
            </div>
        </div>
    </div>
{% endblock %}
