{% extends 'base.html' %}

{% load static %}

{% block stylesheet %}
        <link rel="stylesheet" href="{% static 'find_friends/css/add_friend.css' %}">
{% endblock  %}

{% block header_settings %}
    <header>   
        {% include '_header_settings.html' %}
    </header>
{% endblock  %}

{% block friends %}
    <div class="friends height">
        {% for friend_group in friend_groups %}
            <div>{{friend_group.alphabet}}</div>
            {% for friend in friend_group.friend_and_room_id  %}
                <div class="single-friend" id="{{friend.room_id}}">
                    <img src="{{friend.user.userprofile.get_image}}" class="display-picture" alt="display-picture">
                    <div class="message-text">
                        <h6>{{friend.user.username}}</h6>
                        <p>{{friend.user.userprofile.bio}} </p>
                    </div>
                </div>
            {% endfor %}
        {% endfor %} 
    </div>
{% endblock %}

{% block script %}
      <script type="module" src="{% static 'find_friends/js/showFriends.js' %}"></script>
{% endblock  %} 