{% extends 'find_friends/index.html' %}
{% load static %}
{% block friends %}
    <div class="friends height">
        {% for friend in friends %}
            <div class="friend" id="{{friend.room_id}}">
                <img src="{% static 'chat/images/dp.svg' %}" class="display-picture" alt="display-picture">
                <span>{{friend.room_name}}</span>
            </div>
        {% endfor %} 
    </div>
{% endblock %}
{% block script2 %}
      <script type="module" src="{% static 'find_friends/js/showFriends.js' %}"></script>
{% endblock  %} 