{% extends 'base.html' %}

{% load static %}

{% block stylesheet %}
        <link rel="stylesheet" href="{% static 'find_friends/css/add_friend.css' %}">
{% endblock  %}

{% block friends %}
    <div class="friends height">
        {% for friend in friends %}
            <div class="friend" id="{{friend.room_id}}">
                <img src="{% static 'chat/images/dp.svg' %}" class="display-picture" alt="display-picture">
                <span>{{friend.room_name}}</span>
            </div>
        {% endfor %} 
    </div>
{% endblock %}

{% block script %}
      <script type="module" src="{% static 'find_friends/js/showFriends.js' %}"></script>
{% endblock  %} 