{% extends "base.html" %}
{% load static %}

{% block title %}
    | ChatRoom
{% endblock  %}

{% block friends %}
    {% include 'chat/snippets/_friends.html' %}
{% endblock  %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'chat/css/chatroom.css' %}">
{% endblock  %}

{% block header_settings %}
    <header>   
        {% include '_header_settings.html' %}
    </header>
{% endblock  %}

{% block chat-room %}
    <div class="chatroom-header">
        <div class="header-info">
           <a href="{% url 'user_profile' room_name %}"><img src="{{display_picture}}" id="friend-display-picture" class="display-picture" alt="friend-picture"></a> 
            <div class="room_name_status">
                <h6> {{room_name}}</h6>
                {% comment %} <p class="online-status">Online</p> {% endcomment %}
            </div>
            <div class="call-center">
                <i id="voice-call-icon" class="fas fa-phone"></i>
                <i id="video-call-icon" class="fas fa-video"></i>
            </div>
        </div>
    </div>
    <div class="messages">
        {% for message_group in message_groups %}
            <div class="message-date">
                <span>{{message_group.date}}</span>
            </div>
            {% for message in message_group.messages  %}
                {% if message.sender == request.user %}
                    <div class="outgoing-message">
                        <div class="chat-bubble">
                            <div class="msg">{{message.content}}</div>
                            <span class ="msg-metadata">
                                <span class = "time">{{message.time.time}}</span> 
                                <span class="chat-status">
                                    <i class="fas fa-check"></i>
                                </span>
                            </span>
                        </div>
                    </div>
                {% else %}
                    <div class="incoming-message">
                        <div class="chat-bubble">
                            <div class="msg">
                                {{message.content}}
                            </div>
                            <span class ="msg-metadata">
                                <span class="time">{{message.time.time}}</span> 
                            </span>
                        </div>
                    </div>    
                {% endif %}
            {% endfor %}    
        {% endfor %}   
        
    </div> 
    <div class="input-box">
        <div class="input-wrapper">
                <input class="form-control" id = "input-message" type="text" placeholder="type message">
                <span class="icons" ><i class="fas fa-paper-plane" id="send-button"></i></span>
        </div>
        {% comment %} 
                <span class="icons" ><i class="fas fa-paperclip"></i></i></span>
            {% endcomment %}
    </div>
    {{room_name|json_script:"room-name"}}
{% endblock  %}

{% block script %}
      <script type="module" src="{% static 'chat/js/chatroom.js' %}"></script>
      <script type="module" src="{% static 'chat/js/videoCall.js' %}"></script>
{% endblock  %} 