{% extends "./index.html" %}
{% load static %}
{% block chat-room %}
{{room_name|json_script:"room-name"}}
{{request.user.username|json_script:"username"}}
<div class="header-settings">
    <div class="single-friend">
        <img src="{% static 'chat/images/dp.svg' %}" class="display-picture" alt="friend-picture">
        <div class = "text">
            <h6> {{room_name}}</h6>
        </div>
        <span class="settings-icon">
            <i class="fas fa-phone"></i>
            <i id ="video-call-icon" class="fas fa-video"></i>
        </span>
    </div>
</div>
<div class="video-container d-none">
    <div class="video-box">
        <video  id="received_video" autoplay></video>
        <video  id="local_video" autoplay muted></video>
        <div class="call-control d-none">
            <button id="accept_call" class="btn btn-success">Accept</button>
            <button id="reject_call" class="btn btn-danger">Decline</button>
        </div>  
        <button id="hangup-button">
            Hang Up
        </button> 
    </div>
</div>
<div class="messages">
    {% for message in messages %}
        {% if message.sender == request.user %}
            <div class="outgoing-message">
                <div class="chat-bubble">
                    <div class="msg">{{message.content}}</div>
                    <span class ="msg-metadata">
                        <span class = "msg-time">{{message.time.time}}</span> 
                        <span class="chat-status">
                            <i class="fas fa-check"></i>
                        </span>
                    </span>
                </div>
            </div>
        {% else %}
            <div class="incoming-message">
                <div class="chat-bubble">
                    <div class="msg">
                        {{message.content}}
                    </div>
                    <span class ="msg-metadata">
                        <span class = "msg-time">{{message.time.time}}</span> 
                    </span>
                </div>
            </div>    
        {% endif %}
    
    {% endfor %}   
</div> 
<div class="message-box">
    <div class="input-wrapper">
        <input class="form-control-sm" id = "input-message" type="text" placeholder="type message" name="" id="">
        <input type="button" id = "send-button" value="send">
    </div>
</div>
{% endblock  %}

{% block script2 %}
      <script type="module" src="{% static 'chat/js/chatroom.js' %}"></script>
      <script type="module" src="{% static 'chat/js/videoCall.js' %}"></script>
{% endblock  %} 