{% extends './base.html' %} 
{% load static %}

{% block stylesheets %}
        <link rel="stylesheet" href="{% static 'chat/css/main.css' %}">
{% endblock  %}

{% block content %}
<header>
    <div>
        <img src=" {% static 'chat/images/dp.svg' %} " alt="display-picture">
        <span class="profile-name">User</span>
    </div>
    <div>
        <input type="text" >
        <input type="button" value="+">
    </div>
</header>

<section>
    <div class="users">
        <div>
            <img src=" {% static 'chat/images/dp.svg' %} " alt="display-picture">
            <span> 
               <div>UserName</div> 
               <div>message preview</div>
            </span>
            <span>12:09</span>
        </div>
    </div>

</section>

{% endblock %}