{% load static %}
<div class="friends-list">
    {% for room in rooms %}
        <div class="single-friend" id={{room.room_id}}>
            <img src="{{room.friend_display_picture}}" class="display-picture" alt="friend-picture"/>
            <div class="message-text">
                <h6>{{room.room_name}}</h6>
                {% if room.last_message %}
                    <p id="latest_message">{{room.last_message}}</p>
                {% else %}
                    <p id="latest_message">New Message</p>
                {% endif %}
            </div>
            <span class="time">{{room.last_message_time}}</span>
        </div>
    {% endfor %}  
</div>

{% block script %}
      <script type="module" src="{% static 'chat/js/friends.js' %}"></script>
{% endblock  %} 