{% load static %}
<div class="friends-list">
    {% for room in rooms %}
        <div class="single-friend" id={{room.id}}>
            <img src="{{friend.display_picture}}" class="display-picture" alt="friend-picture"/>
            <div class = "text">
                <h6>{{room.name}}</h6>
                {% if friend.latest_message %}
                    <p id="latest_message">{{room.messages.last}}</p>
                {% else %}
                    <p id="latest_message">New Message</p>
                {% endif %}
            </div>
            {% comment %} <span class="time">{{friend.latest_message.time.time}}</span> {% endcomment %}
        </div>
    {% endfor %}  
</div>

{% block script %}
      <script type="module" src="{% static 'chat/js/friends.js' %}"></script>
{% endblock  %} 