{% load static %}
<div class="friends-list">
    {% for room in rooms %}
        <div class="single-friend" id={{room.room_id}}>
            <img src="{{room.friend_display_picture}}" class="display-picture" alt="friend-picture"/>
            <div class="message-text">
                <h6>{{room.room_name}}</h6>
                {% if room.last_message %}
                    <p id="latest_message">{{room.last_message}}</p>
                {% else %}
                    <p id="latest_message">New Message</p>
                {% endif %}
            </div>
            
            <div class="time_unread_message">
                <span class="time">{{room.last_message_time}}</span>
                {% comment %} display the unread message count if the message sender is not the curren authenticated user {% endcomment %}
                {% if room.unread_messages and room.last_message_sender != request.user.username %}
                    <span class="unread_message">
                        <span>{{room.unread_messages}}</span>
                    </span>
                {% endif %}
            </div>
        </div>
    {% endfor %}  
</div>

{% block script %}
      <script type="module" src="{% static 'chat/js/friends.js' %}"></script>
{% endblock  %} 