.chatroom-header {
    background-color: #272A35;
    height: 60px;
    padding: 10px;
}

.header-info {
    display: flex;
    padding: 0 15px;
}

.go-back {
    display: none;
}

.go-back:active {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

.go-back i {
    position: relative;
    font-size: 20px;
    top: 10px;
    cursor: pointer;
    padding-right: 7px;
}

.room_name_status {
    margin-left: 5px;
    position: relative;
    width: 70%;
    transition: 0.3s all;
    cursor: pointer;
    padding: 0 10px;
}

.room_name_status:active {
    transform: scale(0.95);
    background-color: rgba(255, 255, 255, 0.2);
}

.room_name_status h6 {
    position: relative;
    top: 9px;
}


/* .online-status {
    color: #808F99;
    font-size: 14px;
} */

.call-center {
    margin-left: auto;
    position: relative;
    top: -3px;
    display: flex;
    flex-wrap: nowrap;
}

.call-center i {
    font-size: 20px;
    cursor: pointer;
}

.message-date span {
    display: block;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    color: rgb(168, 161, 161);
    font-size: 14px;
}

.messages {
    padding: 5px;
    height: 80vh;
    overflow-y: auto;
}

.chat-bubble {
    background-color: #373E4E;
    padding: 10px;
    margin: 5px 10px;
    max-width: 80%;
    border-radius: 10px;
}

.incoming-message {
    position: relative;
    display: flex;
}

.outgoing-message {
    position: relative;
    display: flex;
    justify-content: end;
}

.outgoing-message .chat-bubble {
    background-color: #272A35;
}

.msg {
    word-wrap: break-word;
    padding: 5px;
    display: inline;
}

.msg-metadata {
    position: relative;
    margin-top: 10px;
    margin-left: 5px;
    float: right;
}

.input-box {
    position: fixed;
    bottom: 10px;
    width: 66.7%;
    background-color: #373E4E;
    padding: 20px
}

.input-box .input-wrapper {
    position: relative;
    display: flex;
    width: 100%;
    padding-right: 30px;
}

.input-box .icons {
    color: #808F99;
    font-size: 25px;
    cursor: pointer;
    margin-left: 20px;
}

.input-box .form-control {
    border-radius: 45px;
    padding: 0.4em 1em;
    outline: none;
    /* display: inline; */
    width: 100%;
}

.emoji-attachment {
    margin-right: 20px;
}

.emoji-attachment .icons {
    position: relative;
    margin-left: 12px;
    top: 3px;
}

@media screen and (max-width: 890px) {
    .left-section {
        display: none;
    }
    .right-section {
        display: block;
        width: 100%;
    }
    .input-box {
        width: 100%;
    }
    .header-info {
        padding: 0 5px;
    }
    .go-back {
        display: inherit;
    }
    .header-info>.display-picture {
        display: none;
    }
}