html {
    padding: 0px 15px;
    margin: 0;
}

body {
    color: white;
    background-color: #292F3F;
    font-family: 'Courier New', Courier, monospace;
}

header {
    font-size: 14px;
}

.chat-list header div:nth-child(1) {
    position: fixed;
    left: 0;
    width: 41.5%;
    padding: 5px 15px;
    background-color: #323739;
    height: 60px;
}

.search [type="text"] {
    border-radius: 30px;
    width: 80%;
    margin-top: 80px;
}

.stories {
    margin-top: 20px;
}

.stories>div {
    display: flex;
    overflow: auto;
}

.stories .story {
    margin-right: 16px;
    background: linear-gradient(180deg, #FFE81D 0%, #00F0FF 100%);
    width: 105px;
    height: 160px;
    border-radius: 30px;
    cursor: pointer;
}

.chat-list {
    border-right: 1px solid grey;
    height: 100vh;
}

.stories .story p {
    color: black;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    position: relative;
    top: 100px;
}

.users {
    margin-top: 30px;
}

.single-user {
    display: flex;
    border-top: 1px solid grey;
    padding: 10px 0;
}

.single-user:hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.single-user span {
    margin-left: 30px;
}

.chat-room h1 {
    height: 90px;
    line-height: 90px;
    text-align: center;
    border: 3px dashed #1c87c9;
}

.chat-room {
    padding: 0;
    margin: 0;
}

.chat-room .header {
    padding: 5px 15px;
    background-color: #323739;
    height: 60px;
}

.chat-interface {
    margin-top: 35px;
}

.chat-interface .time {
    font-weight: 100;
}