:root {
    --padding: 10px 15px;
}

body {
    background-color: rgb(110, 107, 107);
    color: white;
    font-family: sans-serif;
}

.content-body {
    background-color: #292F3F;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

.col-md-4 {
    border-right: 1px solid rgb(88, 87, 87);
    padding-right: 0px;
    height: 100vh;
}

.header-settings {
    background-color: #272A35;
    padding: var(--padding);
    border-radius: 5px;
}
.settings-icon {
    float: right;
}

.settings-icon i {
    margin: 8px 10px;
    font-weight: 600;
    padding: 5px;
    border-radius: 45px;
    transition: 0.5s;
    font-size: 18px;
}

.settings-icon i:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);
}

.search-box {
    padding: 10px 15px;
}

.wrapper {
    position: relative;
    border-radius: 10px;
}

.wrapper i {
    position: absolute;
    color: white;
    top: 10px;
    left: 10px;
}

.wrapper [type="text"] {
    background-color: #292F3F;
    border-color: white;
    padding-left: 2rem;
    color: white;
    border-radius: 25px;
    width: 80%;
    outline: none;
}

.settings-options{
    background-color: #272A35;
    list-style-type: none;
    text-align:center;
    padding: 0;
    width:150px;
}
.settings-options .list-item  a{
    color: white;
    text-decoration:none;
    display:block;
    padding:15px;
}

.settings-options .list-item a:hover {
    background-color: #3b3f4f;
}

.display-picture {
    width: 40px;
    height: 40px;
    border-radius: 25px;
}

.friends-list {
    margin-top: 30px;
    height: 600px;
    overflow-y: auto;
}

.single-friend {
    display: flex;
    border-bottom: 1px solid #3c444b;
    transition: 0.5s;
    padding: 5px;
}

.single-friend:hover {
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
    color: black !important;
}

.single-friend .text {
    margin: 0px 15px;
    width: 80%;
}

.single-friend .text h6 {
    position: relative;
    top: 3px;
    margin-bottom: 5px;
}

.single-friend .text p {
    color: grey;
    font-size: 16px;
}

.stories {
    margin-top: 10px;
    padding: var(--padding);
}

.stories-wrapper {
    overflow-x: auto;
    display: flex;
    scroll-behavior: smooth;
}

.stories-wrapper::-webkit-scrollbar {
    display: none;
}

.single-story {
    margin-right: 16px;
    background: linear-gradient(180deg, #FFE81D 0%, #00F0FF 100%);
    min-width: 120px;
    height: 160px;
    border-radius: 30px;
    cursor: pointer;
    color: black;
}

.single-story p {
    color: black;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    position: relative;
    top: 100px;
}

.col-md-8 {
    padding-left: 0;
}

.col-md-8 .single-friend {
    border-bottom: none;
    margin: 0;
    padding: 0;
}

.col-md-8 .header-settings {
    padding: 5px 15px;
}

.col-md-8 .single-friend:hover {
    background-color: transparent;
    color: white !important;
    cursor: default;
}

.col-md-8 .text {
    width: 70%;
}

.col-md-8 .text p {
    margin-bottom: 2px;
}

.col-md-8 .settings-icon i {
    margin: 8px 10px;
    font-weight: 600;
    padding: 5px;
    border-radius: 45px;
    transition: 0.5s;
    font-size: 18px;
}


/* Popover general style */

.popover {
    background-color: transparent;
    border: 0;
}

.popover-body {
    padding: 0px;
}

.popover .popover-arrow::after,
.popover .popover-arrow::before {
    display: none
}

@media screen and (max-width: 768px) {
    .col-md-4 {
        border-right: none;
    }
    .right-section {
        display: none;
    }
}