{% extends 'accounts/auth_mockup.html' %}

{% block title %} <title>Register</title> {% endblock  %}

{% block content %}
<h4> Register Here</h4>
<form  action="{% url 'accounts:login' %}" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Login">
    {% if messages %}
        {% for message in messages  %}
            {{message}}
        {% endfor %}
    {% endif %}
    <p>Already have an account?<a href="{% url 'accounts:login' %}">Login here</a></p>
</form>
{% endblock  %}