{% extends 'base.html' %}

{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'accounts/css/user_profile.css' %}">
{% endblock  %} 

{% block user_profile %}
    <div class="user-profile">
        <div class="user-profile__heading">
            <span>
                <a href="{% url 'homepage'  %}"><i class="fas fa-long-arrow-alt-left"></i></a> 
                <p> Profile </p> 
            </span> 
        </div>
        <div class="user-profile__avatar">
            {% if user.userprofile.display_picture %}
                <img src="{{user.userprofile.display_picture.url}}" alt="{{ user.username }}'s avatar" />
            {% else %}
                <img src="" alt="{{ user.username }}'s avatar" />
            {% endif %}
            
            <div class="user-profile__photo_option__section">
                <i tabindex="0" class="fas fa-camera" data-bs-toggle="popover"></i>
                <div class = "popover-list d-none"> 
                    <ul class = "photo-options">
                        <li class="list-item">View Photo</li>
                        <li class="list-item">Take Photo</li>
                        <li class="list-item">
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{form.display_picture}}
                                <input type="submit" name="upload_photo" value="upload image">
                            </form>
                        </li>
                        <li class="list-item">
                            <form method="POST">
                                {% csrf_token %}
                                <input type="submit" name="delete_photo" value="Delete Photo">
                            </form>
                            
                        </li>
                    </ul>
                </div>
            </div>            
        </div>
        <div class="user-profile__info">
            <div class="user_profile__username__section">
                <span class="user-profile__username__label">Your name</span>
                <p class="user-profile__username">{{ user.username }}</p>
            </div>
            <div class="user_profile__bio__section">
                <span class="user-profile__bio__label">Bio</span>
                <form method="POST">
                    {% csrf_token %}
                    {{form.bio}}
                    <input type="submit" class="btn btn-warning" value="save">
                </form>
                <p class="user-profile__bio">{{ user.userprofile.bio }}</p>
            </div>
    
            {% if  request.user.username == user.username %}
                <div class="user_profile__date_joined__section">
                    <span class="user-profile__joined__label">Joined</span>
                    <p class="user-profile__joined">{{ user.date_joined|date:"F j, Y" }}</p>
                </div> 

            {% endif %}
            
        </div>
    </div>
{% endblock  %}

{% block script %}
      <script src="{% static 'accounts/js/userProfile.js' %}"></script>
{% endblock  %} 




    {% comment %} <p class="user-profile__location">{{ user.location }}</p>
                <p class="user-profile__website">
                    <a href="{{ user.website }}">{{ user.website }}</a>
                    kdjj
                    <form class="form-inline" role="form">
                        eee
                        <div class="form-group">
                            <input id="email" type="email" placeholder="Enter Email-ID" class="form-control" />
                        </div>
                        <button type="submit" class="btn btn-warning">Subscribe</button>
                        <input type="file" name="photo" id="photo">
                    </form>
                </p> {% endcomment %}
