{% extends 'base.html' %}

{% load static %}

{% block title %}
    | {{user.username}}'s Profile
{% endblock  %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'accounts/css/user_profile.css' %}">
{% endblock  %} 

{% block user_profile %}
    {% comment %} The header section{% endcomment %}
    <div class="user-profile">
        <div class="user-profile__heading">
            <span>
                <a href="{% url 'homepage'  %}"><i class="fas fa-long-arrow-alt-left"></i></a> 
                <p> Profile </p> 
            </span> 
        </div>

        {% comment %}The Avatar/Display picture section  {% endcomment %}
        <div class="user-profile__avatar">
            <img src="{{user.userprofile.get_image}}" alt="{{ user.username }}'s avatar"/>
            <div class="user-profile__photo_option__section">
                {% if  request.user.username == user.username %}
                    <i tabindex="0" class="fas fa-camera" id="camera-icon" data-bs-toggle="popover"></i>
                {% endif %}
                <div class="popover-list d-none"> 
                    <ul class="photo-options">
                        <li class="list-item">
                            <div id="take-photo">Start Camera</div>
                        </li>
                        <li class="list-item">
                            <form method="POST" id="upload-image-form" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{form.display_picture.errors}}
                                <label for="{{ form.display_picture.id_for_label }}">
                                    <span class="dp-image-label"> {{ form.display_picture.label }}</span>
                                    {{form.display_picture}}
                                </label>
                            </form>
                        </li>
                        <li class="list-item">
                            <form id="delete-image-form" method="POST">
                                {% csrf_token %}
                                <span class="delete-option"> Delete Photo</span>
                                <input id="delete-photo" type="hidden" name="delete_photo" value="Delete Photo">
                            </form>   
                        </li>
                    </ul>
                </div>
            </div>            
        </div>
        {% comment %} Delete confirmation section {% endcomment %}
        <div class="confirmation-wrapper overlay d-none">
            <div class="confirmation-body">
                <p>Are you sure you want to delete your display picture?</p>
                <div class="delete-confirmation">
                    <button id="delete-confirmation__no">No</button>
                    <button id="delete-confirmation__yes">Yes</button>
                </div>
            </div>
        </div>

        {% comment %} The camera preview section that captures the users photo {% endcomment %}
        <div class="take-photo-section d-none">
            <div class="camera-preview">
                <video  id="change-dp-video" autoplay></video>
                <i id="close-camera" class="fas fa-times text-danger cancel-icon"></i>
                <i id="capture" class="far fa-dot-circle"></i>
            </div>   
            <div class="picture-preview d-none">
                <canvas id="canvas"></canvas>
                <span class="photo-decision">
                    <i id="cancel-photo" class="fas fa-times text-danger cancel-icon"></i>
                    <i id="save-photo" class="far fa-check-circle"></i>
                </span>
            </div>   
        </div>

        {% comment %} The user's information section {% endcomment %}
        <div class="user-profile__info">
            <div class="user_profile__username__section">
                <span class="user-profile__username__label">Username</span>
                <p class="user-profile__username">{{ user.username }}</p>
            </div>
            <div class="user_profile__bio__section">
                <span class="user-profile__bio__label">Bio</span>
                <div class="bio-form__section">
                    <form method="POST">
                        {% csrf_token %}
                        {{form.bio}}
                    </form>
                    {% if  request.user.username == user.username %}
                        <i class="fas fa-pencil-alt bio-edit" id="edit-bio"></i>
                    {% endif %}
                    <i class="fas fa-check bio-edit d-none "></i>
                </div>
            </div>

            {% if  request.user.username == user.username %}
                <div class="user_profile__date_joined__section">
                    <span class="user-profile__joined__label">Joined</span>
                    <p class="user-profile__joined">{{ user.date_joined|date:"F j, Y" }}</p>
                </div> 
            {% endif %}     
        </div>
    </div>
{% endblock  %}

{% block script %}
      <script src="{% static 'accounts/js/userProfile.js' %}"></script>
{% endblock  %} 




    {% comment %} <p class="user-profile__location">{{ user.location }}</p>
                <p class="user-profile__website">
                    <a href="{{ user.website }}">{{ user.website }}</a>
                    kdjj
                    <form class="form-inline" role="form">
                        eee
                        <div class="form-group">
                            <input id="email" type="email" placeholder="Enter Email-ID" class="form-control" />
                        </div>
                        <button type="submit" class="btn btn-warning">Subscribe</button>
                        <input type="file" name="photo" id="photo">
                    </form>
                </p> {% endcomment %}
