{% extends '../base.html' %} 
{% load static %}

{% block stylesheets %}
        <link rel="stylesheet" href="{% static 'chat/css/main.css' %}">
{% endblock  %}

{% block content %}
    <div class="container">
        <div class="row g-0">
            <div class="col-md-4">
                <div class="header-settings">
                    <img src="{% static 'chat/images/dp.svg' %}" class="display-picture" alt="display-picture">
                    <span class="settings-icon">
                        <i class="fas fa-user-plus"></i>
                        <i class="fas fa-ellipsis-v"></i>
                        <i class="fas fa-comment-alt"></i>
                    </span>
                </div>
                <div class="search-box">
                    <div class="wrapper">
                        <i class="fas fa-search"></i>
                        <input class="form-control-sm" type="text" placeholder="search" name="" id="">
                        <input  type="button" value="+">
                    </div>
                </div>

                {% comment %} {% include "./stories.html" %} {% endcomment %}
                {% include './friends.html' %}
            </div>
            <div class="col-md-8">
                {% block chat-room %}{% endblock  %}
                
            </div>
        </div>
    </div>
    
{% endblock %}
