.height {
    height: 90vh;
    overflow-y: auto;
}

.user {
    display: flex;
    margin: 10px;
    padding: 10px 0px;
    justify-content: space-between;
}

.user form {
    position: relative;
    bottom: 10px;
    padding: 5px;
}

.friend-requests,
.send-requests {
    padding: 10px;
}

.friend-request-header,
.send-request-header {
    margin: 10px;
    padding: 10px;
    font-weight: bold;
}

.add_users .user-info span {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

.add_users .add-remove {
    position: relative;
    top: 10px;
}

.add_users .add-remove button {
    color: white;
    font-weight: bold;
    margin-right: 10px;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 45px;
    transition: ease-in 0.2s;
    font-size: 14px;
    outline: none;
    border: none;
}

.add_users .add-remove button i {
    margin-right: 5px;
}

.add_users .add-remove button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

#remove-user {
    cursor: pointer;
}

#remove-user:hover {
    color: rgba(255, 255, 255, 0.5);
}

.friends .friend {
    margin: 10px 0px;
    padding: 10px;
    cursor: pointer;
}

.friends .friend:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.friends .friend span {
    margin: 5px;
    padding: 5px;
}

.friends .alphabet-group {
    margin: 15px 0px;
    padding: 10px;
    cursor: pointer;
}

.friends .alphabet-group p {
    text-transform: uppercase;
    color: #808F99;
}