{% load static %}
<div class="header-settings-wrapper">
    <div class="header-settings">
        <a href="{% url 'user_profile' request.user.username %}"><img src="{{request.user.userprofile.get_image}}" class="display-picture" alt="display-picture"></a> 
        <div class="nav-controls">
            <a href= {% url 'find_friends:index' %} class="friend-request-icon">
                <i class="fas fa-user-plus">
                </i> 
                <span class="notification-dot d-none">
                </span>
            </a> 
            <a href={% url 'friends' %}> <i class="fas fa-comment-alt"></i></a>
            <i tabindex="0" class="fas fa-ellipsis-v" id="settings-icon"></i>
        </div>
    </div>
    {% comment %} <div class="search-box">
        <div class="wrapper">
            <i class="fas fa-search"></i>
            <input class="form-control-sm" type="text" placeholder="search" name="" id="">
            <input  type="button" value="+">
        </div>
    </div>  {% endcomment %}
</div>

<div class="settings-popover-list d-none">
    <ul class="settings-options">
        <li class="list-item"><a href="{% url 'user_profile' request.user.username %}">Profile</a></li>
        <li class="list-item"><a href="{% url 'user_profile' request.user.username %}">Settings</a></li>
        <li class="list-item"><a href="{% url 'accounts:logout' %}">Logout</a></li>
    </ul>
</div>


{% block script %}
<script type="module" src="{% static 'js/headerSettings.js' %}"></script>
{% endblock  %}


