{% load static %}
<div>
    <div class="header-settings">
       <a href="{% url 'user_profile' request.user.username %}"><img src="{{request.user.userprofile.display_picture.url}}" class="display-picture" alt="display-picture"></a> 
        <span class="settings-icon">
           <a href= {% url 'find_friends:index' %} ><i class="fas fa-user-plus"></i></a> 
           <a href={% url 'friends' %}> <i class="fas fa-comment-alt"></i></a>
            <i class="fas fa-ellipsis-v"></i>
        </span>
    </div>
    <div class="search-box">
        <div class="wrapper">
            <i class="fas fa-search"></i>
            <input class="form-control-sm" type="text" placeholder="search" name="" id="">
            <input  type="button" value="+">
        </div>
    </div> 
</div>
