.user-profile {
    padding: 0px 30px;
}

.user-profile__heading {
    position: fixed;
    margin-bottom: 30px;
    background-color: #272A35;
    left: 0;
    top: 0;
    width: 33.17%;
    height: 100px;
}

.user-profile__heading span {
    display: flex;
}

.user-profile__avatar {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.user-profile__avatar img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

@media screen and (max-width: 768px) {
    .user-profile__heading {
        width: 100%;
    }
}