.user-profile__heading {
    position: fixed;
    margin-bottom: 30px;
    background-color: #272A35;
    left: 0;
    top: 0;
    width: 33.17%;
    height: 90px;
    z-index: +1;
}

.user-profile__heading span {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-left: 25px;
}

.user-profile__heading p {
    font-size: 20px;
    font-weight: bold;
}

.user-profile__heading span a {
    text-decoration: none;
    color: #ffffff;
}

.user-profile__heading span i {
    margin-right: 30px;
    position: relative;
    font-size: 20px;
    top: 3px;
}

.user-profile__avatar {
    margin-top: 120px;
    display: flex;
    justify-content: center;
    position: relative;
}

.user-profile__avatar img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: fill;
}

.user-profile__photo_option__section {
    position: absolute;
    bottom: 10px;
    left: 58%;
    right: 35%;
}

.user-profile__photo_option__section i {
    font-size: 22px;
    color: #ffffff;
    cursor: pointer;
    padding: 10px;
    background-color: #646e91;
    border-radius: 50%;
}

.user-profile__info {
    margin-top: 30px;
    padding: 0px 30px;
}

.user-profile__username__label,
.user-profile__bio__label,
.user-profile__joined__label {
    color: #b0bdec;
    font-size: 14px;
}

.user-profile__username,
.user-profile__bio,
.user-profile__joined {
    margin-top: 10px;
    font-size: 17px;
}

.user_profile__bio__section,
.user_profile__date_joined__section {
    margin-top: 30px;
}

.photo-options {
    background-color: #272A35;
    padding: 10px 0px;
    list-style-type: none;
}

.list-item {
    padding: 10px 35px;
    font-size: 15px;
    color: white;
}

.list-item:hover {
    background-color: #3b3f4f;
    cursor: pointer;
}

.popover {
    background-color: transparent;
    border: 0;
}

.popover-body {
    padding: 0px;
}

.popover .popover-arrow::after,
.popover .popover-arrow::before {
    display: none
}

.take-photo-section {
    position: fixed;
    width: 50%;
    left: 25%;
    top: 0;
    height: 80%;
    z-index: +9999999;
    margin-top: 30px;
}

.take-photo-section .camera-preview,
.take-photo-section .picture-preview {
    height: 100%;
}

.take-photo-section .camera-preview #change-dp-video,
.take-photo-section .picture-preview #canvas {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.take-photo-section .camera-preview #change-dp-video {
    object-fit: cover;
}

.take-photo-section .camera-preview #capture {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-bottom: 30px;
    font-size: 50px;
    font-weight: 100;
    cursor: pointer;
    color: #c3cae2;
}

.cancel-icon {
    cursor: pointer;
    position: absolute;
    left: 0;
    font-size: 30px;
    margin-left: 15px;
    margin-top: 15px;
}

#save-photo {
    color: rgb(83, 253, 83);
    margin-right: 70px;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-bottom: 30px;
    font-size: 50px;
}

#id_bio {
    background-color: transparent;
    outline: none;
    border-width: 0 0 2px;
    width: 300px;
    padding: 2px;
    color: white;
}

#id_bio:focus {
    border-color: #c3cae2;
}

@media screen and (max-width: 768px) {
    .user-profile__heading {
        width: 100%;
    }
}